.font{
    font-family: "Dancing Script", cursive;
}
.card{
    border-radius: 30px;
}
.our1{ 
    
    border-radius: 20px;
}
.text{
    font-family: "Poppins", sans-serif;
}
.text1{
    font-family: "Kanit", sans-serif;
}
.social-logo{
    font-size: 15px;
}
.social-logo-1{
    font-size: 30px;
}

   
